@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    scroll-snap-type: y mandatory;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}


section {
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 5%;
}

.title {
    color: rgb(256, 256, 256);
    text-shadow: 1px 1px 4px #000;
}

.NetflixScrapers {
    color: rgb(256, 256, 256);
    text-shadow: 1px 1px 4px #000;
    font-size: 100px;
}

.viz-title-container,
.viz-container,
.viz-text-container {
    width: 80%;
}

.viz-title-container {
    order: 1;
    padding-bottom: 40px;
    text-align: center;
    font-size: 35px;

}

.viz-container {
   order: 2;
   
}

.viz-text-container {
    order: 3;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: justify;
}

#viz_scores_per_year {
    display: block;
    text-align: center;
    margin: auto;
}

#viz_network {
    display: block;
    text-align: center;
    margin: auto;
}


.one {
    background-color: rgb(5, 140, 225);
}

.two {
    background-color: rgb(225, 225, 225)
}

.three {
    background-color: rgb(210, 210, 210)
}

.four {
    background-color: rgb(36, 164, 138)
}

.five {
    background-color: rgb(5, 140, 225)
}

.tooltip {
    position: absolute; /* or any value higher than other elements */
}

/* Style of the navigation bar */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    overflow: hidden;
    z-index: 1000;

    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #0c85e2;
    color: white;
}

#menu-icon {
    z-index: 3000;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 32px;
    height: 5px;
    margin: 5.5px 0;
    background-color: #333;
    transition: 0.3s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.white-rectangle {
    width: 800px;
    height: 400px;
    background-color: white;
    order: 2;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

footer {
    background-color: #333;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .topnav a {
        float: none;
        display: block;
        font-size: 16px;
        padding: 7px 8px;
    }

    .NetflixScrapers {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }

    #menu-icon {
        display: block;
    }
 }


/* ---------- Netflix logo animation ---------- */

:root {
    --primary-colour: #E50914;
    --shadow-colour: black;
    --shadow-intensity: 0.6;
}

.base {
    fill: var(--primary-colour);
    transition: fill 0.4s;
}

.shadow-start {
    stop-color: var(--shadow-colour);
    stop-opacity: var(--shadow-intensity);

}
.shadow-end {
    stop-color: var(--shadow-colour);
    stop-opacity: 0;
}

body {
    background: black;
}

.netflix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 15vmin;
}