@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 100%;
    scroll-snap-type: y mandatory;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 5%;
}

.title {
    color: rgb(256, 256, 256);
    text-shadow: 1px 1px 4px #000;
}

.NetflixScrapers {
    color: rgb(256, 256, 256);
    text-shadow: 1px 1px 4px #000;
    font-size: 100px;
}

.viz-title-container,
.viz-container,
.viz-text-container {
    width: 80%;
}

.viz-title-container {
    order: 1;
    padding-bottom: 40px;
    text-align: center;
    font-size: 35px;

}

.viz-container {
   order: 3;
   padding-bottom: 2%;

}

.viz-text-container {
    order: 2;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

#viz_scores_per_year {
    display: block;
    text-align: center;
    margin: auto;
}

#viz_network {
    display: block;
    text-align: center;
    margin: auto;
}

#world_map {
    display: block;
    text-align: center;
    margin: auto;
}

.tooltip-header {
    font-weight: bolder;
}


.one {
    background-color: #2a0808;
}

.two {
    background-color: #141414;
}

.three {
    background-color: #090808;
}

.four {
    background-color: #141414;
}

.five {
    background-color: #090808;
}

.tooltip {
    position: absolute; /* or any value higher than other elements */
}

/* Style of the navigation bar */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #6c0e0e;
    overflow: hidden;
    z-index: 1000;

    visibility: visible;
    opacity: 1;
    transition: visibility 0.3s, opacity 0.3s linear;

    text-align: center;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #a92020;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #951010;
    color: white;
}

#menu-icon {
    z-index: 3000;
    position: fixed;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 32px;
    height: 5px;
    margin: 5.5px 0;
    background-color: #951010;
    transition: 0.3s;
}

.change .bar1 {
    background-color: #333;
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    background-color: #333;
    transform: translate(0, -11px) rotate(45deg);
}

.white-rectangle {
    width: 800px;
    height: 400px;
    background-color: white;
    order: 2;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.white-text {
    color: white;
}

.centered {
    text-align: center;
    align-items: center;
    justify-content: center;
}

#form-name {
    width: 100%;
    position: relative;
}


#individual {
    width: 50%;
    border-radius: 0px;
    border-color: #000000;
    background-color: #ffffff;
    margin-bottom: 30px;
}

#search-results {
    text-align: left;
    position: absolute;
    left: 25%;
    z-index: 100;
    max-height: 200px;
    overflow: scroll;
    list-style-type: none;
    background-color: #ffffff;
    color: black;
    width: 50%;
    font-size: 12px;
    margin-top: -30px;
}

#search-results a {
    cursor: pointer;
}

#search-results::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

input[type="radio"] {
    margin: 0px 5px 25px 20px;
}

input[type="radio"]:checked {
    accent-color: #951010;
}

.grid {
    color: white;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blinking {
    animation: blink 2s linear infinite;
}

.slider-container {
    display: flex;
    align-items: center;
}

footer {
    font-size: 11px;
    background-color: #2a0808;
    color: #ffffff;
}

@media screen and (max-width: 800px) {
    .topnav a {
        float: none;
        display: block;
        font-size: 16px;
        padding: 7px 8px;
    }

    .NetflixScrapers {
        font-size: 40px;
    }

    .title {
        font-size: 30px;
    }

    #menu-icon {
        display: block;
    }
 }


/* ---------- Netflix logo animation ---------- */

:root {
    --primary-colour: #E50914;
    --shadow-colour: black;
    --shadow-intensity: 0.6;
}

.base {
    fill: var(--primary-colour);
    transition: fill 0.4s;
}

.shadow-start {
    stop-color: var(--shadow-colour);
    stop-opacity: var(--shadow-intensity);

}
.shadow-end {
    stop-color: var(--shadow-colour);
    stop-opacity: 0;
}

body {
    background: black;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.netflix-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin: 15vmin;
}



#back-button {
          display: none; /* Start with the back button hidden */
          position: fixed;
          top: 10%;
          right: 10%;
          background: white;
          border: 1px solid black;
          padding: 10px;
          border-radius: 8px;
          z-index: 1000; /* Ensure it's on top */
      }
  #info {
            display: flex; /* Start with the back button hidden */
            justify-content: center; /* Center horizontally */
            position: fixed;
            top: 25%;
            right: 10%;
            background: white;
            border: 1px solid black;
            padding: 10px;
            border-radius: 8px;
            z-index: 1000; /* Ensure it's on top */
            display: none;
        }

text {
      fill: #fff;
  }

#viz4 .viz-container text {
    pointer-events: none;
    fill: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333;
    dominant-baseline: middle;
    text-anchor: middle;
    font-size: 12px; /* This will be adjusted based on the bubble size in the JavaScript */
}

  #viz4 circle, #viz3 circle {
      fill-opacity: 0.7;
      stroke: #fff;
      stroke-width: 1.5px;
  }

 #viz4 circle:hover {
      stroke: #000;
      stroke-width: 2px;
  }

  .tooltip {
      position: absolute;
      text-align: center;
      padding: 8px;
      font-size: 13px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s;
  }
  #chart-container {
      width: 100%;
      height: 500px; /* Adjust based on your preference */
  }

  button {
      padding: 10px;
      margin: 10px;
  }
